.button {
    margin: auto;
    margin-top: 50px;
    width: 350px;
    height: 50px;

    background-color: #375cd4;
    border-radius: 4px;
    border-color: #375cd4;
    box-shadow: none;
    color: white;

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 29px;
    text-align: center;

    &:visited {
        text-decoration: none;
    }

}