.change-date {
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', serif;

    background-color: transparent;
    border: none;
    
    
    transform: rotate(90deg) translate(-100px, -520px);

    i {
        padding-right: 7px;
    }
    
}