.change-date {
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', serif;

    background-color: transparent;
    border: none;
    
    
    transform: rotate(90deg) translate(-100px, -520px);

    &:focus {
        outline: none;
    }

    i {
        padding-right: 7px;
        color: #D4AF37;
    }
    
}