.clock {
    background-color: #375cd4;
    height: 180px;
    width: 1100px;
    margin: auto;
    margin-top: 75px;
    
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 275px));
    grid-column-gap: 0px;
    align-items: center;
    justify-items: center;

    text-align: left;
    justify-content: center;
    align-content: center;

    &__box {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 20px;
        line-height: 25px;
        color: #D4AF37;
        font-family: 'Roboto', sans-serif;
        text-align: left;
        margin-top: 10px;
        margin-bottom: -5px;

    }

    &__amount {
        font-size: 80px;
        font-weight: bold;
        line-height: 115px;
        color: white;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

}